<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key = "pathOrigen" value="C:\test\Carpeta_1" />
    <add key = "pathDestino" value="\\Nassau\cvmc\CVMC_S%26C\Desarrollo\pruebas\destino"/>
    <add key = "ConnectionString" value="server=192.168.108.233;user id=admateriales;password=Mariquita10;database=MATERIALES_DEV" />
    <add key="allowedExtensionFiles" value=" .avi, .mpeg, .mpg, .qt, .wmv, .asf, .rm, .ram, .flv, .mxf, .xml, .mov, .mp4"/>
  </appSettings>
</configuration>